.portfolio{
    background-color: #f9f9f9;
}
/* .portfolio-content{
    overflow: hidden;
} */

.portfolio-item{
    width: 30%;
    float: left;
    margin-bottom: 60px;
    position: relative;
    padding: 20px;
}

.portfolio-item img{
    width: 100%;
}


.portfolio-item.mg{
    margin: 0 5%;
}

.portfolio-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}


.layer-content .layer-info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
    /* background-color: #6195ff; */
}




.layer-content .category{
    color: #6195ff;
    font-size: large;
    text-transform: uppercase;
    display: block;
    position: relative;
    top: 10px;
    transition: top 0.5s,opacity 0.5s;
    opacity: 0;
    transition-delay: 0.2s;
    margin-bottom: 5px;
}

.layer-content-tittle{
    font-size: 20px;
    color: #ffff;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    transition: top 0.5s,opacity 0.5s;
    transition-delay: 0.2s;
    opacity: 0;
}

.layer-content a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    position: relative;
    top: 10px;
    transition: top 0.5s,opacity 0.5s;
    transition-delay: 0.3s;
    opacity: 0;

}

.layer-content a i{
    line-height: 40px;
}

.portfolio-item:hover:hover .layer-content-tittle,
.portfolio-item:hover:hover .layer-content a,.portfolio-item:hover:hover .layer-content .category{
    top: 0;
    opacity: 1;
    visibility: visible;
}
